body{
    background-color: rgb(211, 92, 96);
}
h1 {
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 35px;
}
ol {
    background-color: #fff;
    height: 220px;
    width: 195px;
    border-radius: 5px;
    display: flex;
    margin-left: 1rem;
    text-align: center;
}
.list-head {
    font-weight: 100;
    font-size: 30px;
    font-family: sans-serif;
}
.head {
    margin-top: 1rem;
}
li {
    list-style-type: none;
}
.header-list {
    font-size: 16px;
    color: rgb(235, 123, 123);
    margin-left: -1.5rem;
    font-family: sans-serif;
}
.list-text {
    font-weight: bold;
    font-size: 20px;
}
.hand {
    height: 260px;
    width: 195px;
}
.list-head-2 {
    font-weight: 100;
    font-size: 30px;
    font-family: sans-serif;
}
.list-text-2 {
    font-weight: bold;
    font-size: 20px;
}
.har-list {
    color: rgb(235, 123, 123);
    margin-left: -1.5rem;
}
.head-ol {
    height: 300px;
    width: 195px;
}
.list-head-3 {
    font-weight: 100;
    font-size: 30px;
    font-family: sans-serif;
}
.list-text-3 {
    font-weight: bold;
    font-size: 20px;
}
.last-list {
    color: rgb(235, 123, 123);
    margin-left: -1.5rem;
}